/* Base */

$site-container-width: 1140px;

$promo-section-vertical-margin: 70px;
$promo-section-horizontal-margin: 10px;

$navbar-horizontal-margin: 0.3rem;

$color-primary: #074f66;
$color-primary-light: #427b94;
$color-primary-dark: #00273b;
$color-primary-text: #ffffff;

$color-accent: #17baef;
$color-accent-light: #6becff;
$color-accent-dark: #008abc;
$color-accent-text: #000000;

$color-site-gray: #f5f5f6;
$color-site-gray-light-dark: rgba(27,31,35,0.05);
$color-site-gray-dark: #e1e2e1;

$color-black: #222;
$color-sky-blue: #17baef;
$color-dark-sky-blue: #074f66;
$color-light-gray0: #fafafa;
$color-light-gray3: #f1f1f1;
$color-light-gray: #f5f5f5;
$color-gray: #dddddd;
$color-light-gray2: #676767;
$color-dark-gray: #777777;
$color-dark-gray2: #323232;
$color-white: #ffffff;
$color-red: #ff0000;
$color-orange: orange;
$color-tomato: tomato;
$color-light-red: rgba(255, 0, 0, 0.3);
$color-limegreen: limegreen;

$color-alert-text: #a94442;
$color-alert-background: #f2dede;
$color-alert-border: #ebcccc;
$color-info-text: #31708f;
$color-info-background: #d9edf7;
$color-info-border: #bcdff1;

$mobile: "screen and (max-width: 414px)";
$tablet: "screen and (min-width: 415px) and (max-width: 750px)";
$desktop: "screen and (min-width: 751px)";
$mobile-and-tablet: "screen and (max-width: 750px)";
$desktop-and-tablet: "screen and (min-width: 414px)";

* {
  box-sizing: border-box;
}
html,
body,
fieldset,
h1,
h2,
h3,
h4,
h5,
pre {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
}
pre {
  text-align: left;
}
