/* Layout */

#app {
  @include flex($flow: column);
  position: relative;
  min-height: 100vh;
}
.container {
  @include container();
}

/* Main article */

main {
  height: 100%;
  padding-bottom: 230px;
}
code {
  padding: 0.2rem;
  overflow: auto;
}
button,
.btn {
  padding: 0.6rem 0.8rem;
}
.btn-full {
  font-size: 1rem;
  padding: 0.8rem;
  width: 100%;
}
.alert {
  margin: 20px 0;
}
pre > code {
  display: block;
  padding: 1rem;
}
