article.front-promo > section > .container {
  @include container();
}
article.front-promo > section {
  padding: $promo-section-vertical-margin $promo-section-horizontal-margin;
  text-align: center;
  h2 { margin-bottom: $promo-section-vertical-margin; }
}

.front-promo .main-copy {
}

article.front-promo section.promo-console video {
  @media #{$mobile-and-tablet} {
    display: none;
  }
  @media #{$desktop} {
    max-width: 700px;
  }
}

article.front-promo section.what-you-gets .container {
  > div:first-child {
    @include flex($align-items: baseline, $grow: 1);
  }
}

article.front-promo section.what-you-gets .features {
  .feature-item {
    display: inline-block;
    width: 240px;
    margin: 0 20px 20px 20px;
  }
}

article.front-promo section.pricing-plans {
  .price {
    padding: 0;
    display: inline-block;

    li {
      padding: 1rem 0;
    }
  }
}

article.front-promo section.pricing-plans .price {
  @media #{$mobile-and-tablet} {
    width: 90%;
  }
}

@media #{$desktop} {
  article.front-promo section.what-you-gets .features {
    @include flex($wrap: wrap, $justify-content: center);
  }
  article.front-promo section.pricing-plans {
    .container > div {
      @include flex($wrap: wrap, $justify-content: center);
    }
    .price {
      margin: 0 3rem;
      width: 25rem;
    }
  }
  article.front-promo section.code-example .container {
    @include flex($grow: 1, $shrink: 1, $basis: auto);

    pre {
      margin-right: 3rem;
    }
  }
}

@media #{$mobile-and-tablet} {
  .front-promo .code-example .container {
    @include flex($flow: column);
  }
}

.front-promo .code-example .container {
  pre code {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .code-description {
    text-align: left;
  }
}

article.front-promo section.channels {
  ul { text-align: center; }
  li {
    display: inline-block;
    margin: 1rem;
  }
}
