.front-promo > section {
  padding: $promo-section-vertical-margin $promo-section-horizontal-margin;
  text-align: center;
}
.front-promo > section h2 {
  margin-bottom: $promo-section-vertical-margin;
}
.front-promo > section > .container {
  @include container();
}

/* Section - Promotion Console Video */

.front-promo .promo-console video {
  @media #{$mobile-and-tablet} {
    display: none;
  }
  @media #{$desktop} {
    max-width: 700px;
    padding: 1rem;
  }
}

/* Section - What you gets */

.front-promo .what-you-gets h3.feature-icon {
  margin: 1rem 0;
}
.front-promo .what-you-gets .container > div:first-child {
  @media #{$desktop-and-tablet} {
    @include flex($align-items: baseline, $grow: 1);
  }
}
.front-promo .what-you-gets .features {
  @media #{$desktop} {
    @include flex($wrap: wrap, $justify-content: center);
  }
}
.front-promo .what-you-gets .features .feature-item {
  display: inline-block;
  width: 240px;
  margin: 0 20px 20px 20px;
}

/* Section - Code Example */

.front-promo .code-example .container {
  @media #{$desktop} {
    @include flex($grow: 1, $shrink: 1, $basis: auto);
  }
  @media #{$mobile-and-tablet} {
    @include flex($flow: column);
  }
}
.front-promo .code-example .container pre {
  @media #{$desktop} {
    margin-right: 3rem;
  }
}
.front-promo .code-example .container pre code {
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.front-promo .code-example .container .code-description {
  text-align: left;
}

/* Section - Channels */
.front-promo .channels img {
  width: 86px;
}
.front-promo .channels ul {
  text-align: center;
}
.front-promo .channels li {
  display: inline-block;
  margin: 1rem;
}

/* Section - Pricing Plans */

.front-promo .pricing-plans .container > div {
  @media #{$desktop} {
    @include flex($wrap: wrap, $justify-content: center);
  }
}
.front-promo .pricing-plans .price {
  padding: 0;
  display: inline-block;

  @media #{$mobile-and-tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    margin: 0 1rem;
    width: 25rem;
  }
}
.front-promo .pricing-plans .price li {
  padding: 1rem 0;
}
