/* Section - Documentation */

section.docs {
  margin-bottom: 1.5rem;
  @media #{$mobile-and-tablet} {
    padding: 1rem $promo-section-horizontal-margin;
  }
  @media #{$desktop} {
    @include flex($flow:row-reverse);
    @include padding-main-content-area();
  }
}
section.docs h1 {
  padding-bottom: 1rem;
}
section.docs h2 {
  border-left: 0.5rem solid $color-sky-blue;
  padding-left: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.docs h3 {
  margin-top: 2rem;
}
section.docs > article {
  @media #{$desktop} {
    flex: 1 1;
  }
}
section.docs aside.toc {
  @media #{$mobile-and-tablet} {
    display: none;
  }
  @media #{$desktop} {
    flex: 0 0 auto;
    margin-right: 2rem;
    padding-left: $navbar-horizontal-margin;
    padding-right: 2rem;
    border-right: 1px solid $color-gray;
  }
}
