/* app */

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");

.base-font {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
code,
pre code {
  font-family: Consolas,MonacoAndale Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courior New,monospace;
}
body,
select,
input,
label {
  @extend .base-font;
  line-height: 1.5;
  color: $color-black;
}
body {
  background-color: $color-site-gray;
}
a {
  text-decoration: none;
}
a:hover {
  @extend %colorset-skyblue-inherit;
}
main:not(.front) {
  color: $color-black;
}
.sans-font {
  font-family: "Ubuntu", sans-serif;
}
h1, h2, h3, h4, h5 {
  @extend .sans-font
}
.sr-only { display: none }
img.disabled {
  @extend %grayscale;
}
.btn,
.btn-default {
  font-size: 1rem;
  background-color: $color-sky-blue;
  color: $color-white;
  border: 0;
  @include border-radius(0.25rem);
}
.btn:hover,
.btn-default:hover {
  background-color: $color-dark-sky-blue;
  color: $color-white;
  border: 0;
  @include border-radius(0.25rem);
  @extend %transition;
}
.btn-null {
  background-color: inherit;
  border: 0;
  padding: 0;
}
.btn-danger {
  background-color: $color-tomato;
}
.btn-danger:hover {
  background-color: $color-red;
}
.btn-cta {
  @extend .sans-font;
  @extend button;
  display: inline-block;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem;
}
h1.cta {
  font-size: 2.5rem;
}
hr {
  border: 0;
  border-top: 1px solid $color-gray;
}
.alert {
  padding: 1rem;
  @include border-radius(0.25rem);
  border: 1px solid;
}
.alert-info {
  color: $color-info-text;
  background-color: $color-info-background;
  border-color: $color-info-border;
}
a.disabled {
  color: $color-dark-gray !important;
  pointer-events: none;
}
