<% wrap_layout :layout do %>
  <section class="container docs">
    <article>
      <%= yield %>
    </article>

    <% if data.to_h['docs'][:toc] %>
      <aside class="toc">
      <ul>
        <% data.to_h['docs'][:toc].each do |element| %>
          <li>
            <%= link_to element[:title], element[:href] %>
          </li>
        <% end %>
      </ul>
    </aside>
    <% end %>
  </section>
<% end %>
