<% wrap_layout :layout do %>
  <section class="container docs">
    <article>
      <%= yield %>
    </article>

    <% if data.to_h['docs'][:toc] %>
      <aside class="toc">
      <ul>
        <% data.to_h['docs'][:toc].each do |element| %>
          <li><a href="<%= element[:href] %>"><%= element[:title] %></a></li>
        <% end %>
      </ul>
    </aside>
    <% end %>
  </section>
<% end %>
