/* Base */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body,
fieldset,
h1,
h2,
h3,
h4,
h5,
pre {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0; }

pre {
  text-align: left; }

nav.site > ul.menu > li, footer.site ul, .front-promo .pricing-plans .price, section.docs aside.toc ul {
  padding: 0; }
  nav.site > ul.menu > li li, footer.site ul li, .front-promo .pricing-plans .price li, section.docs aside.toc ul li {
    list-style: none; }

img.disabled {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.front-promo .promo-console {
  /* fg:white, bg:black */
  color: #ffffff;
  background-color: #222; }

/* fg: black, bg: inherit */
/* fg: black, bg: white */
/* fg: white, bg: inherit */
/* fg: white, bg: sky-blue */
/* fg: white, bg: dark-sky-blue */
/* fg: white, bg: black */
/* fg: sky-blue, bg: inherit */
/* fg: sky-blue, bg: gray */
/* fg: dark-red, bg: light-red */
/* fg: dark-red, bg: light-gray */
/* fg: dark-blue, bg: light-blue */
/* fg: light-black, bg: inherit */
/* fg: light-black, bg: white */
a:hover, nav.site .btn-signin {
  color: #17baef;
  background-color: inherit; }

nav.site .btn-signin:hover {
  color: #ffffff;
  background-color: #17baef; }

a:hover, nav.site .btn-signin {
  color: #17baef; }

footer.site a {
  color: #676767; }

.code-example pre, article.store div.project {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn:hover,
.btn-default:hover, nav.site a:hover, nav.site > ul > li a:hover, nav.site .btn-signin:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* app */
.base-font, body,
select,
input,
label {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; }

code,
pre code {
  font-family: Consolas,MonacoAndale Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courior New,monospace; }

body,
select,
input,
label {
  line-height: 1.5;
  color: #222; }

body {
  background-color: #f5f5f6; }

a {
  text-decoration: none; }

main:not(.front) {
  color: #222; }

.sans-font, h1, h2, h3, h4, h5, .btn-cta, div[id=app] > header, body > div[id=app] > header.front, header ul.horizontal-menu,
footer ul.horizontal-menu, .front-promo .pricing-plans .price li.header {
  font-family: "Ubuntu", sans-serif; }

.sr-only {
  display: none; }

.btn,
.btn-default {
  font-size: 1rem;
  background-color: #17baef;
  color: #ffffff;
  border: 0;
  border-radius: 0.25rem; }

.btn:hover,
.btn-default:hover {
  background-color: #074f66;
  color: #ffffff;
  border: 0;
  border-radius: 0.25rem; }

.btn-null {
  background-color: inherit;
  border: 0;
  padding: 0; }

.btn-danger {
  background-color: tomato; }

.btn-danger:hover {
  background-color: #ff0000; }

.btn-cta {
  display: inline-block;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem; }

h1.cta {
  font-size: 2.5rem; }

hr {
  border: 0;
  border-top: 1px solid #dddddd; }

.alert {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebcccc; }

a.disabled {
  color: #777777 !important;
  pointer-events: none; }

a.link-danger {
  color: #ff0000 !important; }

/* Color */
nav.site,
nav.site a,
nav.site label {
  color: #ffffff; }

nav.site a:hover {
  color: #17baef; }

nav.site .navbar-brand em {
  color: tomato; }

footer.site {
  background-color: #e1e2e1; }

body > div[id=app] > header {
  background-color: #074f66; }

body > div[id=app] > header.front {
  background-color: #222; }

/* Text & Paragraph style */
nav.site .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600; }

nav.site .navbar-brand sup {
  font-size: 0.8rem; }

nav.site > ul.menu > li a {
  font-size: 1.3rem;
  text-decoration: none; }

nav.site > form a {
  font-size: 1.2rem;
  text-decoration: none; }

nav.site .btn-signin {
  font-size: 1.3rem;
  border: 1px solid #17baef;
  border-radius: 0.3rem; }

footer.site > section {
  border-top: 1px solid #dddddd; }

header ul.horizontal-menu li,
footer ul.horizontal-menu li {
  display: inline; }
header ul.horizontal-menu li:after,
footer ul.horizontal-menu li:after {
  content: " \00b7 "; }
header ul.horizontal-menu li:last-child:after,
footer ul.horizontal-menu li:last-child:after {
  content: ""; }

/* Effect */
@media screen and (max-width: 750px) {
  nav.site input.trigger ~ label.trigger-icon .trigger-indicator:after {
    content: ' \f105'; }
  nav.site input.trigger:checked ~ label.trigger-icon .trigger-indicator:after {
    content: ' \f107'; } }

@media screen and (max-width: 750px) {
  nav.site .btn {
    border: 0;
    background-color: inherit; }
    nav.site .btn:hover {
      background-color: inherit; } }

@media screen and (max-width: 750px) {
  nav.site a:not(.navbar-brand) {
    display: inline-block;
    width: 100%; } }

/* Colors */
.front-promo .code-example {
  background-color: #008abc;
  color: #ffffff; }
.front-promo .pricing-plans {
  background-color: #074f66;
  color: #ffffff; }
  .front-promo .pricing-plans h2 {
    color: #ffffff; }
.front-promo .pricing-plans .price {
  color: #222; }
  .front-promo .pricing-plans .price li {
    background-color: #ffffff; }
  .front-promo .pricing-plans .price li.header {
    color: #17baef;
    background-color: #f5f5f5; }
.front-promo .promo-console em {
  color: #17baef; }
.front-promo .code-example p.note {
  color: #222; }
.front-promo .feature-take-your-code {
  color: tomato; }
.front-promo .feature-backend-free {
  color: #17baef; }
.front-promo .feature-start-lean {
  color: orange; }
.front-promo .feature-monetization {
  color: limegreen; }

/* Text & Paragraph style */
.front-promo {
  font-size: 1.3rem; }

.front-promo h2 {
  font-size: 2rem;
  text-align: center; }

.front-promo .promo-console em {
  font-style: normal; }

.front-promo .code-example p.note {
  font-size: 1rem; }

.front-promo .what-you-gets h3 {
  font-size: 1.5rem; }
.front-promo .what-you-gets h3.feature-icon {
  font-size: 4rem; }
.front-promo .what-you-gets p {
  font-size: 1rem; }

.front-promo .pricing-plans .price li {
  border-bottom: 1px solid #f5f5f5; }
.front-promo .pricing-plans .price li.header {
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem; }
.front-promo .pricing-plans .price li.footer {
  font-weight: bold;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.code-example pre code {
  font-size: 1.1rem; }

.front-promo .promo-console {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.85))), url("/images/network-diagram.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("/images/network-diagram.png") no-repeat center;
  background-size: cover; }

@media screen and (min-width: 751px) {
  .front-promo .promo-console video {
    background-color: #222;
    border-radius: 0.5rem; } }

.front-promo .launch-your-chatbot {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.98))), url("/images/network-diagram-light.png") no-repeat center;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.98)), url("/images/network-diagram-light.png") no-repeat center;
  background-size: cover; }

.front-promo .footnote-mark {
  color: tomato;
  vertical-align: super;
  font-size: 0.9rem; }

.front-promo .pricing-plans .price-notes {
  text-align: left;
  font-size: 1rem;
  color: #dddddd; }

section.docs > article {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem; }

section.docs aside.toc a {
  color: #222; }

section.docs aside.toc a:hover {
  color: #17baef; }

section.docs pre code,
section.docs p > code,
section.docs li > code {
  background-color: rgba(27, 31, 35, 0.05); }

section.docs p > code,
section.docs li > code {
  border-radius: 0.25rem; }

section.docs table {
  border-collapse: collapse; }

section.docs th, section.docs td {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  padding: 0.5rem 1rem; }

section.docs th {
  border-bottom: 2px solid #777777; }

section.docs aside.toc ul li {
  margin: 1rem 0; }

section.docs aside.toc ul li a {
  border-left: 0.3rem solid #427b94;
  padding-left: 0.5rem; }

article.store div.project {
  border-radius: 0.2rem;
  border: 1px solid #17baef; }

article.store .project-desc h1 {
  font-size: 1.2rem;
  margin: 0; }

/* Layout */
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  min-height: 100vh; }
  #app > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

/* Main article */
main {
  height: 100%;
  padding-bottom: 230px; }

code {
  padding: 0.2rem;
  overflow: auto; }

button, .btn-cta,
.btn {
  padding: 0.6rem 0.8rem; }

.btn-full {
  font-size: 1rem;
  padding: 0.8rem;
  width: 100%; }

.alert {
  margin: 20px 0; }

pre > code {
  display: block;
  padding: 1rem; }

/* Header */
@media screen and (max-width: 750px) {
  header.site {
    padding: 10px; } }
@media screen and (min-width: 751px) {
  header.site {
    padding: 0 0.3rem; } }

nav.site input.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px; }

@media screen and (max-width: 750px) {
  nav.site label.trigger-icon {
    float: right;
    padding: 0.25rem; } }
@media screen and (min-width: 751px) {
  nav.site label.trigger-icon {
    display: none; } }

@media screen and (max-width: 750px) {
  nav.site input.trigger ~ ul, nav.site input.trigger ~ div {
    display: none; }
  nav.site input.trigger:checked ~ ul, nav.site input.trigger:checked ~ div {
    display: block; } }

@media screen and (max-width: 750px) {
  nav.site .btn {
    padding: 0; } }

@media screen and (min-width: 751px) {
  nav.site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav.site > * {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
    nav.site > *:nth-child(2) {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
    nav.site > *:last-child {
      text-align: right; } }

@media screen and (min-width: 751px) {
  nav.site form,
  nav.site ul.menu,
  nav.site ul.menu li {
    display: inline-block; } }

@media screen and (min-width: 751px) {
  nav.site > ul > li {
    margin-right: 20px; } }

.navbar-brand-logo {
  vertical-align: text-bottom; }

/* Footer */
footer.site {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 230px; }

footer.site > section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 10px; }
  @media screen and (min-width: 751px) {
    footer.site > section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row;
              flex-flow: row;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      footer.site > section > * {
        -webkit-box-flex: 2;
            -ms-flex: 2 1 auto;
                flex: 2 1 auto; } }

@media screen and (min-width: 751px) {
  footer.site > section > *:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right; } }

@media screen and (min-width: 751px) {
  footer.site > section ul {
    padding: 0; } }

footer.front > section {
  padding: 30px 10px; }

.front-promo > section {
  padding: 70px 10px;
  text-align: center; }

.front-promo > section h2 {
  margin-bottom: 70px; }

.front-promo > section > .container {
  max-width: 1140px;
  margin: 0 auto; }

/* Section - Promotion Console Video */
@media screen and (max-width: 750px) {
  .front-promo .promo-console video {
    display: none; } }
@media screen and (min-width: 751px) {
  .front-promo .promo-console video {
    max-width: 700px;
    padding: 1rem; } }

/* Section - What you gets */
.front-promo .what-you-gets h3.feature-icon {
  margin: 1rem 0; }

@media screen and (min-width: 414px) {
  .front-promo .what-you-gets .container > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .front-promo .what-you-gets .container > div:first-child > * {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; } }

@media screen and (min-width: 751px) {
  .front-promo .what-you-gets .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .front-promo .what-you-gets .features > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; } }

.front-promo .what-you-gets .features .feature-item {
  display: inline-block;
  width: 240px;
  margin: 0 20px 20px 20px; }

/* Section - Code Example */
@media screen and (min-width: 751px) {
  .front-promo .code-example .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .front-promo .code-example .container > * {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; } }
@media screen and (max-width: 750px) {
  .front-promo .code-example .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .front-promo .code-example .container > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; } }

@media screen and (min-width: 751px) {
  .front-promo .code-example .container pre {
    margin-right: 3rem; } }

.front-promo .code-example .container pre code {
  width: 100%;
  height: 100%;
  padding: 3rem; }

.front-promo .code-example .container .code-description {
  text-align: left; }

/* Section - Channels */
.front-promo .channels img {
  width: 86px; }

.front-promo .channels ul {
  text-align: center; }

.front-promo .channels li {
  display: inline-block;
  margin: 1rem; }

/* Section - Pricing Plans */
@media screen and (min-width: 751px) {
  .front-promo .pricing-plans .container .plan-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .front-promo .pricing-plans .container .plan-list > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; } }

.front-promo .pricing-plans .price {
  padding: 0;
  display: inline-block; }
  @media screen and (max-width: 750px) {
    .front-promo .pricing-plans .price {
      width: 90%; } }
  @media screen and (min-width: 751px) {
    .front-promo .pricing-plans .price {
      margin: 0 1rem;
      width: 25rem; }
      .front-promo .pricing-plans .price:first-child {
        margin-left: 0; }
      .front-promo .pricing-plans .price:last-child {
        margin-right: 0; } }

.front-promo .pricing-plans .price li {
  padding: 1rem 0; }

/* Section - Documentation */
@media screen and (max-width: 750px) {
  section.docs {
    padding: 1rem 10px; } }
@media screen and (min-width: 751px) {
  section.docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 3rem 0; }
    section.docs > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; } }

section.docs h1 {
  margin-bottom: 1rem; }

section.docs h2,
section.docs h3,
section.docs h4 {
  margin-bottom: 1rem;
  margin-top: 2rem; }

section.docs h2 {
  border-left: 0.5rem solid #17baef;
  padding-left: 0.5rem; }

section.docs > article {
  padding: 2rem; }
  @media screen and (min-width: 751px) {
    section.docs > article {
      -webkit-box-flex: 1;
          -ms-flex: 1 1;
              flex: 1 1; } }

@media screen and (max-width: 750px) {
  section.docs aside.toc {
    margin-top: 2rem; } }
@media screen and (min-width: 751px) {
  section.docs aside.toc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 2rem;
    padding-left: 0.3rem;
    padding-right: 2rem; } }

@media screen and (max-width: 750px) {
  section.docs aside.toc ul li a {
    display: block; } }

/* Section - Store */
article.store div.project {
  display: inline-block;
  width: 340px;
  margin: 10px;
  padding: 20px; }

@media screen and (max-width: 414px) {
  article.store .project-icon {
    display: none; } }
@media screen and (min-width: 751px) {
  article.store .project-icon {
    display: inline-block;
    float: left;
    margin-right: 1rem; } }

article.store img.store {
  width: 65px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }

article.store .project-desc p {
  margin: 0; }

article.store .project-action {
  clear: both;
  padding-top: 15px;
  border-top: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  article.store .project-action > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
