<section>
  <div>
    <ul class="horizontal-menu">
      <li><a href="/docs">Documentation</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li>&copy; 2017 BotHub.Studio</li>
      <li><a href="emailto:bothub@bothub.studio">bothub@bothub.studio</a></li>
      <li><em>This service is currently in beta.</em></li>
    </ul>
  </div>
</section>
