<section>
  <div>
    <ul class="horizontal-menu">
      <li><%= link_to 'Documentation', '/docs/index.html' %></li>
      <li><a href="mailto:bothub@bothub.studio">bothub@bothub.studio</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li>&copy; 2017 BotHub.Studio</li>
      <li><em>This service is currently in beta.</em></li>
      <li><a href="https://github.com/bothub-studio/support/issues">Report a bug / Feature request</a></li>
      <li>
      </li>
    </ul>

    <a href="https://facebook.com/bothub-studio">
      <img width="30" height="30" src="https://cdn.worldvectorlogo.com/logos/facebook-icon.svg"/>
    </a>
    &nbsp;
    <a href="https://medium.com/bothub-studio">
      <img width="30" height="30" src="https://cdn.worldvectorlogo.com/logos/medium-m-2.svg">
    </a>
    &nbsp;
    <a href="https://github.com/bothub-studio">
      <img width="30" height="30" src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg">
    </a>

  </div>
</section>
