<div class="container">
  <nav class="site">
    <input class="trigger" type="checkbox" id="mainNavButton">
    <label class="trigger-icon" for="mainNavButton" onclick>Menu <i class="fa trigger-indicator"></i></label>
    <a class="navbar-brand" href="/">
      BotHub<em>.</em>Studio<sup><em>beta</em></sup>
    </a>
    <ul class="menu">
      <li><%= link_to 'Docs', '/docs/index.html' %></li>
      <li><%= link_to 'Examples', '/examples.html' %></li>
      <li><a to="#" class="disabled" >Community</a></li>
    </ul>
    <div>
      <a href="https://app.bothub.studio" class="btn btn-signin">Sign in</a>
    </div>
  </nav>
</div>
